version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: file_manager_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: ./api-server
    container_name: file_manager_api
    restart: always
    ports:
      - "3000:3000"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: db
      JWT_SECRET: ${JWT_SECRET}
    volumes:
      - ./storage_data:/app/storage
    depends_on:
      - db

volumes:
  pgdata: